.App {
  text-align: center;

}
.typography {
  color: darkslategray;
  font-weight: 700;
}
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 200px;
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.pagination {
  margin: 16px 0;
}
